/**
 * Input Styles
 */

.input {
  display: block;
  white-space: nowrap;
  padding: 50px 0;

  &::after {
    content: '';
    clear: both;
  }

  &Balance {
    margin-top: 10px;
    font-size: 0.75em;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.4);
  }

  input {
    z-index: 2;
    position: relative;
    float: right;
    font-size: 32px;
    font-weight: 300;
    min-width: 70%;
    padding: 50px 0;
    margin-top: -50px;
    margin-left: auto;
    text-align: right;
    border: 0;
    outline: none;
    background-color: transparent;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  &Target::before {
    z-index: -1;
    content: '';
    position: absolute;
    left: 0;
    margin-top: -66px;
    width: 100%;
    height: calc(50% + 25px);
    background-color: #f3f4f6;
    border-top: 1px solid #eee;
  }
}
