/**
 * RateLabel Styles
 */
.rateLabel {
  display: block;
  text-align: center;

  &Inner {
    z-index: 2;
    position: relative;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    font-size: 0.75em;
    color: #0174eb;
    border: 1px solid #eee;
    border-radius: 16px;
    background-color: white;
    white-space: nowrap;
  }
}
